## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
bin/
obj/

# NuGet packages
*.nupkg
*.snupkg
packages/
# NuGet v3
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Visual Studio files
.vs/
*.user
*.suo
*.sdf
*.cache
*.dbmdl
*.VC.db

# Rider
.idea/

# User-specific files
*.userosscache
*.sln.docstates

# WPF specific
Generated_Code/

# Windows image cache
Thumbs.db

# JetBrains Rider
.idea/

# Backup & crash logs
*.bak
*.log

# Publish output
publish/

# Test results
TestResults/

# Others
_ReSharper*/
*.ncrunch*
*.vspscc
*.vssscc
*.orig

# Uncomment if using local database files
# *.mdf
# *.ldf

# Uncomment if using dotnet CLI
# .vscode/
# *.dotCover
